グループ詳細ページ
<div class="container pt-5 pb-5">
  <div class="card">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <h5><%= @group.group_name %></h5>
          <div>参加者：<%= "#{@group.users.count}" %>人</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% if user_signed_in? %>
          <% if @group.is_owned_by?(current_user) %>
            <%= link_to "Edit", edit_public_group_path(@group) %>
            <%= link_to "Delete", public_group_path(@group), method: :delete, data: { confirm: "グループを削除しますか？"} %>
          <% else %>
            <% if @group.users.include?(current_user) %>
              <%= link_to "脱退する", public_group_path(@group), method: :delete, data: { confirm: "グループを脱退しますか？"} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="row">
      <div class="col">
        <div class="conversations">
          <div class="conversations_list">
            <p class="conversations_list_user_icon">アイコン</p>
            <p class="conversations_list_date">2023/10/22</p>
            <p class="conversations_list_massege">メッセージ</p>
            <p class="conversations_list-add-massege"></p>
          </div>
        </div>
        <div class="group_form">
          仮）投稿フォーム
        </div>
      </div>
    </div>
  </div>
</div>