グループ詳細ページ
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col">
          <h5><%= @group.group_name %></h5>
          <div>参加者：<%= "#{@group.users.count}" %>人</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% if @group.is_owned_by?(current_user) %>
          <%= link_to "Edit", edit_public_group_path(@group) %>
          <%= link_to "Delete", public_group_path(@group), method: :delete, data: { confirm: "グループを削除しますか？"} %>
        <% else %>
          <% if @group.users.include?(current_user) %>
            <%= link_to "脱退する", public_group_path(@group), method: :delete, data: { confirm: "グループを脱退しますか？"} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>