<div class="container">
  <div class="row"><h1>トップページ</h1></div>
    <div class="row">
       <div class="col-md-2">
      <!--ジャンルのサイドバーを入れる-->
      <%= render "genres/genre", genres: @genres %>
      <!--  <h4>text</h4>-->
        </div>
      <div class="col-md-10">
        <%= link_to "新規投稿", new_public_post_path %>
      </div>
      
      <div class="posts">
        <%= @posts.each do |post| %>
          <td><%= image_tag users.get_profile_image(100,100)%></td>
          <td><%= post.user.name %></td>
          <td><%= post.title %></td>
          <td><%= post.image_id %></td>
          <td><%= post.body %></td>
          <td><%= post.like,count %></td>
          <td><%= link_to post.comment_count, post_comments_path(post) %></td>
      </div>
    </div>
    
</div>