<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
     <h2>Detalied Infomaition</h2>
    </div>
  </div>
  <div class="row">
          <div class="col-md-4 mx-auto">
            <tr>
              <td><%= image_tag @user.get_profile_image(300, 300) %></td>
            </tr>
          </div>

        <table class="table table-hover table-inverse">
          <tbody>

          <div class="col-md-6 mx-auto">
            <tr>
              <%# binding.pry %>
              <td>
                <label>Name</label> 
                <%= @user.account_name %>
              </td>
            </tr>
            
            <tr>
              <td>
                <label>Introductiobn</label>
                <%= @user.introduction %>
                </td>
            </tr>
            
            <tr>
              <td>
                <label>Gender</label>
                <%= @user.gender_i18n %>
              </td>
            </tr>
            
            <tr>
              <td>
                <label>Age Groups</label>
                <%= @user.age_groups_i18n %>
              </td>
            </tr>
          </div>
                  <% if @user == current_user %>
                    <td><%= link_to "Edit", edit_public_user_path(@user.id), class: "btn btn-success" %></td>
                    <!--<td><%#= link_to "Destroy", public_post_path(@post.id), method: :delete %></td>-->
                  <% else %>
                  <% end %>
          </tbody>
        </table>
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
          <div class="posts">
            <% @posts.each do |post| %>
              <!--<td><%#= image_tag post.user.get_profile_image(100, 100) %></td>-->
              <!--<td><%#= post.user.account_name %></td>-->
              <td>
                <a href="<%= public_post_path(post.id) %>">
                  <%= image_tag post.get_image(300, 300) %>
                </a>
              </td>
              <!--<td><%#= image_tag post.get_image(300, 300) %></td>-->
              <td><%= post.title %></td>
              <td><%= post.body %></td>
              <td><%#= post.like_count %></td>
              <td><%= "コメント #{post.comment.count}" %></td>
            <% end %>
          </div>
        </div>
  </div>

</div>

<!--コメント機能18章を-->