<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e58d5853a6.js" crossorigin="anonymous"></script>
  </head>
<div class="font">
  <body class="d-flex flex-column vh-100">
    <header>
      
          <div style="background-color: #1c2434;">
            <div class="logo">
              <a class="d-flex" href="<%= root_path %>">
                <img src="<%= asset_path("Serefy.Logo.png") %>" alt="Logo" class="img-fluid">
              </a>
            </div>
          </div>
   
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse" id="navbarTogglerDemo01">-->
          <!--<a class="navbar-brand"><%#= link_to "Home", root_path %></a>-->
          
        <!--<div style="background-color: yellow;">        </div>-->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <% if user_signed_in? %>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= root_path %>">Top</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= homes_about_path %>">About</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= public_users_mypage_path %>">マイページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= public_posts_path %>">投稿一覧</a>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              <!--<a class="nav-link disabled" href="<%#= destroy_user_session_path, method: :delete %>">ログアウト</a>-->
              <!--hrefではmethod: :deleteは使えないのでlink_toで実行-->
            </li>
            <% elsif admin_signed_in? %>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= root_path %>">Top</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= public_posts_path %>">投稿一覧</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= admin_users_path %>">会員一覧</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= admin_genres_path %>">ジャンル一覧</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= admin_tags_path %>">タグ一覧</a>
            </li>
            <li class="nav-item active text-black-50">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              <!--<a class="nav-link" href="<%#= destroy_admin_session_path, method: :delete %>">ログアウト</a>-->
            </li>
            <% else %>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= root_path %>">Top</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= homes_about_path %>">About</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= new_user_registration_path %>">新規登録</a>
            </li>
            <li class="nav-item active text-black-50">
              <a class="nav-link" href="<%= new_user_session_path %>">ログイン</a>
            </li>
            <% end %>
          </ul>

          <!--<div class="form-inline my-2 my-lg-0">-->
            <%#= form_with(url: )%>
            <!--<input class="form_control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
          <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
          <!--</div>-->
          <%= render "homes/search", search: @search %>
      </nav>
    

    </header>
    <div class="background <%= @top %>" >
      <%= yield %>
    </div>
  </body>
</div>
</html>
